<p id="notice"><%= notice %></p>

<%= render partial:"layouts/carousel" %>

<div class="products-grid container col-md-9" id="products-list">
	<%= render "products/grid", products: @products %>
</div>

<%= render partial:"products/sidebar" %>




