<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading" style="display:none">
      <h3 class="panel-title">
      </h3>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render partial:"filter/form" %>
      </div>
    </div>
  </div>
</div>    
